<ul class="grid grid-cols-7 font-medium p-3 items-center">
  <li><%=item.id%></li>
  <li><%=item.item_name%></li>
  <li><%=item.price%></li>
  <li><%=item.durability%></li>
  <li><%=item.quantity%></li>
  <li>
    <%= categories.find(c=> c.category_id === item.category_id).category %>
  </li>
  <li>
    <div class="flex">
      <!--! Change these buttons to type SUBMIT !-->
      <form action="/edit" method="GET">
        <button
          type="submit"
          class="border-2 px-3 py-2 shrink grow text-sm flex justify-center items-center text-white bg-amber-400 rounded-lg"
        >
          Edit
        </button>
      </form>
      <form action="/edit" method="POST">
        <button
          type="submit"
          class="border-2 px-3 py-2 shrink grow text-sm flex justify-center items-center bg-red-700 text-white rounded-lg"
        >
          Delete
        </button>
      </form>
    </div>
  </li>
</ul>
