<ul class="grid grid-cols-7 font-medium p-3">
  <%= console.log(`inside: `); %> <%= console.log(item); %>
  <li><%=item.id%></li>
  <li><%=item.item_name%></li>
  <li><%=item.price%></li>
  <li><%=item.durability%></li>
  <li><%=item.quantity%></li>
  <li>1</li>
  <li>
    <div class="flex">
      <!--! Change these buttons to type SUBMIT !-->
      <a
        href="/edit/<%= item.id %>"
        class="border-2 px-3 py-2 shrink grow text-sm flex justify-center items-center text-white bg-amber-400 rounded-lg"
        >Edit</a
      >
      <a
        href="/delete/<%= item.id %>"
        class="border-2 px-3 py-2 shrink grow text-sm flex justify-center items-center bg-red-700 text-white rounded-lg"
        >Delete</a
      >
    </div>
  </li>
</ul>
